@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 box-border
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 6px;
}
  
/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px; 
    @apply bg-gray-300
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    @apply bg-orange-500
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-orange-700
}